#background{
    background-image: url(img/fondo.gif);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#puntuacion{
<<<<<<< HEAD
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;  
}

#meteorito{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    scale: 0.15;
    animation: rotacion 3s linear infinite;   
}

#personaje {
=======
>>>>>>> 148efcdfb405be35cebe771e95f3beb52d775bad
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
<<<<<<< HEAD
}

@keyframes rotacion {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } 
}
=======
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;  
}
>>>>>>> 148efcdfb405be35cebe771e95f3beb52d775bad
